@tailwind base;
@tailwind components;
@tailwind utilities;


/* body {
  margin: 0;
  font-family: 'Lato', sans-serif;
} */

@layer base {
    html {
        font-family: 'Lato', sans-serif;
    }
  }

@layer components {
    .button {
        @apply bg-[#112873] text-white text-lg font-bold px-4 py-2 rounded-full hover:opacity-75
    }
}


